html,
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    color: #939598;
    background-color: transparent;
}


/* Header : Menu and logo */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    height: 60px;
    z-index: 9999;
}

header.scrolled {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
}

header nav {
    clear: both;
    display: block;
    line-height: 60px;
    height: 60px;
    position: relative;
}

.menu-container {
    padding-left: 30px;
    padding-right: 30px;
}

.grt-menu-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a.grt-logo {
    display: inline-block;
}

a.grt-logo img {
    max-height: 71px;
    width: 60px;
}

a.grt-logo span {
    color: #267481 !important;
}

.grt-mobile-button {
    display: none;
}

.grt-mobile-button:focus {
    border: 0;
    outline: 0;
}

.body-overflow {
    overflow: hidden;
}

ul.grt-menu {
    display: flex;
    margin: 0 -10px 0 0;
    padding: 0;
    list-style-type: none;
}

ul.grt-menu:after {
    content: "";
    clear: both;
    display: block;
}

ul.grt-menu li {
    display: inline-block;
    margin: 0;
    padding: 0;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    position: relative;
}

ul.grt-menu li a {
    padding: 5px 12px;
    font-size: 18px;
    display: inline-block;
    color: #303030;
    line-height: 1.1em;
    box-shadow: inset 0 0 0 0 #FFF;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    position: relative;
    text-decoration: none;
}


/* 
ul.grt-menu li.active a:after {
position: absolute;
bottom: 1px;
content: "";
left: 12px;
right: 12px;
border-bottom: 2px solid #ee2b34;
} */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

ul.grt-menu li.grt-dropdown:hover {
    cursor: pointer;
}

ul.grt-menu li.grt-dropdown:hover a {
    box-shadow: none;
}

ul.grt-menu li.grt-dropdown ul.grt-dropdown-list {
    display: none;
    position: absolute;
    background: #ee2b34;
    margin: 0;
    padding: 0;
    min-width: 150px;
    animation: fadeIn 0.8s;
    z-index: 999;
}

ul.grt-menu li.grt-dropdown ul.grt-dropdown-list li a {
    display: block;
    font-size: 18px;
    color: #FFF;
    -webkit-transition: all ease 0.8s;
    -moz-transition: all ease 0.8s;
    transition: all ease 0.8s;
    padding: 9px 12px;
}

ul.grt-menu li.grt-dropdown ul.grt-dropdown-list li:last-child a {
    padding-bottom: 15px;
}

ul.grt-menu li.grt-dropdown.active-dropdown {
    background: #ee2b34;
}

ul.grt-menu li.grt-dropdown.active-dropdown ul.grt-dropdown-list {
    display: block !important;
}

ul.grt-menu li.grt-dropdown.active-dropdown a {
    color: #FFF;
}

.grt-menu-logo {
    height: 60px;
    padding-top: 10px;
}

.visibility-hidden {
    visibility: hidden;
}

ul.footer-menu {
    padding: 0;
    list-style: none;
    font-size: 16px;
}

ul.footer-menu li a,
ul.footer-menu li span {
    font-weight: bold;
    color: #000;
    text-decoration: none !important;
    display: block;
    margin-bottom: 10px;
}

ul.footer-sub-menu {
    list-style: none;
    padding: 0;
}

ul.footer-sub-menu li a {
    font-weight: normal;
    color: #939598;
    margin-bottom: 5px;
}

.vertically-middle {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}


/* 
[data-aos=fade-up-right].vertically-middle {
    transform: translate3d(-100px, 100px, 0);
}

[data-aos=fade-up-left].vertically-middle {
    transform: translate3d(100px, 100px, 0);
} */

.copyright-social-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright-text {
    color: #939598;
    font-size: 14px;
}

.social-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links ul li {
    display: inline-block;
}

.social-links ul li a {
    padding: 0 5px;
}

.fold {
    height: 100vh;
    background-position-x: 100%;
}


/* #home-first-fold .container {
position: relative;
}

#home-first-fold {
margin-top: 60px;
} */

#home-first-fold {
    position: relative;
}

#home-first-fold:before {
    position: absolute;
    content: ' ';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/9.jpg');
    background-size: cover;
    background-position: center center;
}

.section-text-main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.section-text {
    position: relative;
    width: 43%;
}

.section-title {
    font-size: 28px;
    font-weight: bold;
    display: block;
    color: #000;
}

.section-btn {
    color: #000;
    border-color: #ec1d3c;
    border-width: 2px;
    border-radius: 10px;
    font-weight: 600;
    padding: 5px 30px;
    margin-top: 30px;
    font-size: 14px;
    z-index: 1;
}

.section-btn:hover {
    color: #fff;
    /* background-color: #ec1d3c; */
    border-color: #ec1d3c;
}

#home-first-fold .section-text {
    margin-left: 90px;
    width: 45%;
    top: 20%;
    left: 14%;
}

.section-text.white,
.section-text.white .section-title,
.section-text.white .section-sub-title {
    color: #fff;
}

.white .section-btn {
    color: #fff;
    border-color: #fff;
}

.white .section-btn:hover {
    color: #fff;
    background-color: #ec1d3c;
    border-color: #ec1d3c;
}

.section-text.left {
    left: 90px;
    position: absolute;
}

.section-text.right {
    right: 90px;
    position: absolute;
}

#home-second-fold {
    position: relative;
}

#home-second-fold:before {
    position: absolute;
    content: ' ';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/backend.jpg');
    background-size: cover;
}

.section-sub-title {
    display: block;
    font-weight: lighter;
    font-size: 80px;
    line-height: 1;
    color: #000;
}

#home-second-fold .section-btn {
    margin-top: 15px;
}

#home-third-fold {
    position: relative;
}

#home-third-fold:before {
    position: absolute;
    content: ' ';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/stronger-together.png');
    background-size: cover;
}

#home-third-fold .section-btn {
    margin-top: 15px;
}

#home-fourth-fold .backgrounded {
    background-image: url('../assets/images/2.jpg');
    background-size: cover;
}

#home-fourth-fold .section-text {
    right: 150px;
}

.nav-link img {
    max-width: 55px;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: 1px solid transparent;
    isolation: auto;
}

.tab-main-wrapper {
    position: relative;
}

.tab-main {
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    padding: 30px 30px 0;
    margin: 0 auto;
    z-index: 1;
    position: relative;
}

.tab-title {
    font-weight: 600;
    color: #939598;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: 0 none;
}

.nav-tabs {
    border: 0 none;
    overflow: hidden;
}

.nav-link span {
    display: block;
    color: #939598;
    font-size: 12px;
    margin-top: 10px;
}

.tab-background {
    background-color: #980001;
    height: 134px;
    position: absolute;
    width: 100%;
    z-index: 0;
}

#home-sixth-fold>div.backgrounded {
    background-image: url('../assets/images/8-cropped.jpg');
    background-size: cover;
    position: relative;
}

.products {
    background-color: #b1b1b1;
    background-color: rgb(198, 196, 197);
    background: linear-gradient(90deg, rgba(198, 196, 197, 1) 0%, rgba(244, 244, 244, 1) 50%, rgba(177, 177, 177, 1) 100%);
}

.cards {
    position: relative;
    top: -160px;
    margin-bottom: -160px;
}

.card {
    border: 0 none;
    overflow: hidden;
    border-radius: 5px;
}

.card-text {
    font-size: 14px;
    line-height: 1.5;
}

.card a {
    font-size: 14px;
    color: #EC1D3C !important;
    line-height: 1.5;
}

.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(95%);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    border-radius: 5px;
}

.card:hover .card-img-overlay {
    animation-name: bounce;
    -moz-animation-name: bounce;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(95%);
    }
    80%,
    100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(95%);
    }
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
}

.card-logo-text {
    color: #000;
    display: block;
    text-align: center;
    margin-top: 34px;
}

.rev-logo {
    display: block;
    max-width: 20%;
    margin-top: -3px;
}

#home-seventh-fold .backgrounded {
    background-image: url('../assets/images/1.jpg');
    background-size: cover;
}

#home-seventh-fold .section-text {
    width: 48%;
}

.white .section-content {
    color: #FFF;
}

.section-content {
    display: block;
    width: 46%;
}

#home-eighth-fold .backgrounded {
    background-image: url('../assets/images/what-people-say.png');
    background-size: cover;
}

.checked {
    color: #EC1D3C;
}

#carouselTestimonies {
    margin: 75px auto 0;
    width: 50%;
    text-align: left;
}

#carouselTestimonies span {
    font-size: 14px;
}

.testimonies-name {
    margin-top: 15px;
    display: block;
    font-weight: 600;
}

.testimonies-star {
    margin-top: 10px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 1;
    background-color: #C7C8C9;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #EC1D3C;
}

#carouselTestimonies .carousel-indicators {
    bottom: -70px;
    justify-content: left;
    margin-left: 0;
}

.card+img {
    margin: 30px auto;
    display: block;
}

.subpage-fold .position-relative,
.fold .position-relative {
    height: 100vh;
}

#about-first-fold .backgrounded {
    background-image: url('../assets/images/3.jpg');
    background-size: cover;
}

#about-first-fold .section-text.left {
    top: 140px;
}

#about-first-fold .section-text.right {
    bottom: 70px;
    text-align: right;
}

#about-first-fold .section-sub-title-text {
    margin-top: 15px;
    display: block;
    color: #ffffff;
}

#about-first-fold .section-sub-title-list {
    padding: 0;
}

#about-first-fold .section-sub-title-list li {
    margin-top: 15px;
    font-size: 14px;
}

#about-first-fold .section-sub-title-list li:before {
    content: "\2022";
    color: #FFF;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    padding-right: 15px;
}

#about-first-fold .right .section-sub-title-list li:before {
    content: "";
}

#about-first-fold .right .section-sub-title-list li:after {
    content: "\2022";
    color: #FFF;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    padding-left: 8px;
    margin-left: 2px;
}

.subpage-section-text {
    padding-left: 20px;
    margin-top: 0;
    padding-bottom: 75px;
    overflow: hidden;
    position: relative;
}

.subpage-section-text .border-div {
    position: absolute;
    width: 5px;
    background-color: #C30600;
    top: 0;
    left: 0;
    height: 100%;
}

.subpage-section-sub-title {
    margin-top: 20px;
    display: block;
    color: #939598;
}

.subpage-section-title {
    color: #606261;
    font-size: 18px;
    font-weight: 600;
    display: block;
    padding-top: 60px;
}

.mission-list {
    list-style: none;
    margin-top: 15px;
    padding-left: 16px;
}

.mission-list li {
    padding-top: 10px;
    color: #939598;
}

.mission-list li::before {
    content: "\2022";
    color: #C30600;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

#about-second-fold .backgrounded {
    background-image: url('../assets/images/4.jpg');
    background-size: cover;
}

#about-second-fold .subpage-section-text {
    padding-top: 75px;
}

#about-second-fold .section-text.right {
    bottom: 70px;
    text-align: right;
}

#about-second-fold .section-sub-title-text {
    margin-top: 35px;
    display: block;
    color: #ffffff;
    margin-bottom: 50px;
}

#about-second-fold .section-sub-title-list {
    padding: 0;
}

#about-second-fold .section-sub-title-list li {
    margin-top: 15px;
    font-size: 14px;
}

#about-third-fold {
    padding-top: 1px;
    background-color: #F8F8F9;
}

.arrow-img {
    width: 70px;
    margin-left: -75px;
}

ul.grt-menu li.active a {
    font-weight: 600;
    color: #C30600;
}

#contact-first-fold .backgrounded {
    background-image: url('../assets/images/6.jpg');
    background-size: cover;
    background-position-x: 14%;
}

.contact-us-form-title {
    font-size: 24px;
    color: #606161;
}

.form-control-wrapper {
    display: flex;
}

.form-control-wrapper span {
    display: inline-flex;
    align-self: flex-end;
    padding-right: 5px;
}

.form-control-wrapper .form-control {
    width: auto;
    display: inline-flex;
    flex-grow: 1;
    border: 0 none;
    /* border-bottom: 1px solid #000; */
    border-radius: 0;
    padding-bottom: 0;
    margin-top: 5px;
    margin-bottom: 0px;
    outline: 0 none !important;
    box-shadow: none;
    font-size: 16px;
}

.btn-submit {
    color: #fff;
    border-color: #ec1d3c;
    border-width: 2px;
    border-radius: 20px;
    font-weight: 600;
    padding: 5px 40px;
    margin-top: 30px;
    font-size: 14px;
    background-color: #ec1d3c;
    z-index: 1;
}

.btn-submit:hover {
    color: #ec1d3c;
    background-color: #fff;
    border-color: #ec1d3c;
}

.btn-submit:focus {
    color: #ec1d3c;
    background-color: #fff;
    border-color: #ec1d3c;
    box-shadow: none;
}

.contact-icons {
    list-style: none;
    padding: 0;
    margin: 50px 0;
    display: flex;
}

.contact-icons li {
    display: inline-flex;
    padding: 0 40px;
}

.contact-icons span {
    display: inline-flex;
    align-self: flex-end;
    padding-right: 20px;
}

.img-icon {
    width: 50px;
}

#contact-third-fold .backgrounded {
    background-image: url('../assets/images/5.jpg');
    background-size: cover;
}

.aps-form-dark-text.text-right {
    text-align: right;
}

.aps-form-dark-text {
    color: #606161;
    display: block;
    padding: 0 0 50px;
}

.aps-form-dark-text.bordered {
    border-bottom: 5px solid #C30600;
    padding: 50px 0 15px;
}

.aps-form-red-text {
    color: #EC1D3C;
    display: block;
    padding: 50px 0 5px;
}

.form-control[type="file"] {
    display: none;
}

label.form-control {
    height: 31px;
}

#projects-first-fold .backgrounded {
    background-image: url('../assets/images/7.jpg');
    background-size: cover;
}

#projects-second-fold {
    background-color: #F8F8F9;
    padding-bottom: 70px;
}

#projects-second-fold .aps-form-dark-text.big {
    padding: 50px 0;
    font-size: 24px;
}

.projects-icons {
    width: 50px;
    display: inline-block;
}

.projects-icons-text {
    display: block;
    font-weight: 600;
    color: #000;
    font-size: 12px;
}

.aps-form-dark-text.normal-padding,
.aps-form-red-text.normal-padding {
    padding: 15px 0 0;
}

.ideas {
    position: absolute;
    left: 0;
    top: 0;
    width: 37%;
}

.ideas div {
    position: absolute;
    white-space: nowrap;
}

.alt {
    color: #fff;
}

.ideas .left {
    text-align: right;
}

.ideas .right {
    right: 0px;
}

.ideas .idea1 {
    top: -20px;
    left: 12%;
}

.ideas .idea2 {
    top: 85px;
    left: 5%;
}

.ideas .idea3 {
    top: 185px;
    left: -25px;
}

.ideas .idea4 {
    top: 305px;
}

.ideas .idea5 {
    top: 405px;
    left: 32px;
}

.ideas .idea6 {
    top: 575px;
    left: 55px;
}

.ideas .idea7 {
    top: 690px;
    left: 125px;
}

.ideas .idea8 {
    right: 38px;
    top: 35px;
}

.ideas .idea9 {
    top: 212px;
    right: 25px;
}

.ideas .idea10 {
    top: 335px;
    right: 20px;
}

.ideas .idea11 {
    top: 502px;
    right: 80px;
}

.ideas .idea12 {
    top: 630px;
    right: 68px;
}

#products-first-fold .backgrounded {
    background-image: url('../assets/images/our-products.png');
    background-size: cover;
}

#products-second-fold {
    background-color: #F8F8F9;
    padding-bottom: 70px;
}

#products-second-fold .aps-form-dark-text.big {
    padding: 50px 0;
    font-size: 24px;
}

.products-icons {
    display: inline-block;
    border: 3px solid #898a8e;
}

.products-icons-text {
    display: block;
    font-weight: 600;
    color: #000;
    font-size: 12px;
}

.pure-study-icon {
    margin-top: 20px;
    border: 3px solid #898a8e;
}

#contact-first-fold {
    position: relative;
}

.mt-15 {
    margin-top: 15px;
}

strong {
    color: #606161;
}

a.animated-button:link,
a.animated-button:visited {
    position: relative;
    margin: 30px auto 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

a.animated-button:link:after,
a.animated-button:visited:after {
    content: " ";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}

a.animated-button:link:hover,
a.animated-button:visited:hover {
    text-shadow: none;
}

a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
    height: 450%;
}

a.animated-button.victoria-two {
    border-style: solid;
    border-width: 2px;
}

a.animated-button.victoria-two:after {
    background: #ec1d3c;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

a.btn-submit.animated-button.victoria-two {
    border-style: solid;
    border-width: 2px;
}

a.btn-submit.animated-button.victoria-two:after {
    background: #fff;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
    transform: translateX(-50%) translateY(-50%) rotate(25deg);
}

[data-aos^=zoom][data-aos^=zoom].vertically-middle,
[data-aos^=zoom][data-aos^=zoom].mob-vertically-middle {
    transform: translate3d(0, -50%, 0) scale(.6);
}

[data-aos^=zoom][data-aos^=zoom].aos-animate.vertically-middle,
[data-aos^=zoom][data-aos^=zoom].aos-animate.mob-vertically-middle {
    opacity: 1;
    transform: translate3d(0, -50%, 0) scale(1);
}

.mw-49 {
    max-width: 49%;
}

.mw-70 {
    max-width: 70%;
}

#contact-first-fold .section-text.right {
    right: 0;
}

.subpage-section-text .border-div.right {
    right: 0;
    left: auto;
}

.input-wrapper {
    width: auto;
    display: inline-flex;
    flex-grow: 1;
    position: relative;
    -webkit-box-shadow: 0px 0.6px 0px 0px rgba(147, 149, 152, 1);
    -moz-box-shadow: 0px 0.6px 0px 0px rgba(147, 149, 152, 1);
    box-shadow: 0px 0.6px 0px 0px rgba(147, 149, 152, 1);
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: .6s;
    transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
    transform: translateX(0);
    transform: translate3d(0, 0, 0);
}

.carousel-item.active>section:before {
    animation: grow 5s linear forwards;
    opacity: 1;
}

@keyframes grow {
    0%,
    20% {
        transform: scale(1);
    }
    75%,
    100% {
        transform: scale(1.15);
    }
}


/* Mobile and Tablet Portrait */

@media (min-width: 0) and (max-width: 991px) {
    .fold img.visibility-hidden {
        height: calc(100vh);
    }
    section#home-first-fold .fold img.visibility-hidden {
        height: calc(100vh - 60px);
    }
    .fold .section-text {
        position: absolute;
        margin: 0 !important;
        width: 100%;
        left: 0;
        right: 0;
    }
    .fold .container {
        height: calc(100vh - 60px);
    }
    section#home-first-fold {
        background-position-x: 89%;
    }
    #home-first-fold .section-text {
        padding-left: 20px;
        top: 90px;
        bottom: auto;
        left: 15px;
    }
    section#home-second-fold {
        background-position-x: 30%;
    }
    section#home-third-fold {
        background-position-x: 80%;
        background-position-y: -32px;
        background-color: #d2d1d2;
        background-repeat: no-repeat;
    }
    .fold .section-text.mob-vertically-middle {
        top: 50%;
        transform: translateY(-50%);
    }
    /* .fold [data-aos=fade-up-right].mob-vertically-middle {
        transform: translate3d(-100px, 100px, 0);
    }
    .fold [data-aos=fade-up-left].mob-vertically-middle {
        transform: translate3d(100px, 100px, 0);
    } */
    section#home-fourth-fold .backgrounded {
        background-position-x: -270px;
    }
    .tab-main .nav-item,
    .tab-main .nav-tabs>.nav-link {
        flex-basis: 0;
        flex-grow: 1;
        text-align: center;
    }
    section#home-sixth-fold>div.backgrounded {
        background-size: cover;
        background-position-x: 75%;
        background-repeat: no-repeat;
        height: 100vh;
        overflow: hidden;
    }
    section#home-sixth-fold .section-text.left {
        left: auto;
        width: 100%;
    }
    .subpage-fold .section-text.left,
    .subpage-fold .section-text.right {
        right: auto;
        left: auto;
        width: 100%;
    }
    .section-sub-title {
        font-size: 70px;
    }
    .products .container {
        height: auto;
    }
    .cards {
        top: auto;
        margin: 0;
        padding-top: 50px;
    }
    #home-seventh-fold .backgrounded {
        background-position-x: 20%;
    }
    #home-seventh-fold .section-text {
        width: 100%;
        padding: 0 20px;
        top: auto;
        bottom: 60px;
    }
    #home-seventh-fold .section-content {
        width: 100%;
    }
    #home-eighth-fold .backgrounded {
        background-position-x: 60%;
        background-position-y: -25px;
    }
    #carouselTestimonies {
        width: 90%;
        margin-top: 25px;
    }
    .copyright-social-row {
        display: block;
    }
    .social-links {
        width: 100%;
        margin-top: 15px;
    }
    .copyright-text {
        width: 100%;
        margin-top: 15px;
    }
    .copyright-text>i {
        top: auto;
        transform: translateY(0);
    }
    #home-eighth-fold .section-text {
        top: auto;
        bottom: -4%;
    }
    #about-first-fold .backgrounded {
        background-position-x: 65%;
    }
    #about-second-fold .backgrounded {
        background-position-x: 25%;
    }
    .subpage-fold .position-relative {
        height: auto;
    }
    .subpage-fold .backgrounded {
        position: relative;
    }
    .hv-100 {
        height: 100vh;
    }
    .contact-icons {
        display: flex;
        flex-wrap: wrap;
    }
    .contact-icons li {
        display: inline-flex;
        padding: 10px 40px;
        width: 100%;
    }
    #contact-first-fold .backgrounded {
        background-position-x: 25%;
    }
    #contact-third-fold .backgrounded {
        background-position-x: 10%;
    }
    .row>* {
        padding-right: calc(var(--bs-gutter-x) * 1);
        padding-left: calc(var(--bs-gutter-x) * 1);
    }
    .projects-icons {
        width: 100px;
    }
    .aps-form-dark-text {
        padding: 15px 0 50px;
    }
    #projects-first-fold .backgrounded {
        background-position-x: 7%;
    }
    #products-first-fold .backgrounded {
        background-position-x: 55%;
    }
}


/* Desktop only style */

@media (min-width:500px) and (max-width:991px) {
    section#home-fourth-fold .backgrounded {
        background-position-x: 0;
    }
}


/* Desktop only style */

@media (min-width:768px) {
    ul.grt-menu li.grt-dropdown:hover>a+ul.grt-dropdown-list {
        display: block;
        top: calc(100% - 17px);
    }
    ul.grt-menu li.grt-dropdown ul.grt-dropdown-list li {
        display: block;
    }
    /* ul.grt-menu li.grt-dropdown:hover>a {
    color: #FFF;
    box-shadow: inset 150px 0 0 0 #ee2b34;
}
ul.grt-menu li a:hover {
    color: #FFF;
    box-shadow: inset 150px 0 0 0 #ee2b34;
} */
    ul.grt-menu li:after,
    ul.grt-menu li:before {
        content: " ";
        position: absolute;
        display: block;
        border: 0px solid transparent;
        width: 0%;
        height: 0%;
        transition: all 0.3s ease;
    }
    ul.grt-menu li:before {
        width: 0%;
        height: 0%;
        right: 5px;
        bottom: 5px;
        border-bottom: 2px solid transparent;
        border-right: 2px solid transparent;
    }
    ul.grt-menu li:after {
        width: 0%;
        height: 0%;
        top: 5px;
        left: 5px;
        border-top: 2px solid transparent;
        border-left: 2px solid transparent;
    }
    ul.grt-menu li:hover::before,
    ul.grt-menu li:hover::after {
        width: 10px;
        height: 10px;
        border-color: #ee2b34;
    }
    ul.grt-menu li:hover::before,
    ul.grt-menu li:hover::after {
        width: 10px;
        height: 10px;
        border-color: #ee2b34;
    }
    ul.grt-menu li.active:before {
        right: 5px;
        bottom: 5px;
    }
    ul.grt-menu li.active:after {
        top: 5px;
        left: 5px;
    }
    ul.grt-menu li.active:before,
    ul.grt-menu li.active:after {
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        border-color: #ee2b34;
    }
}


/* Tablet only portrait style */

@media (min-width:768px) and (max-width:991px) {
    ul.grt-menu li a {
        font-size: 18px;
    }
    .menu-container {
        padding-left: 0;
        padding-right: 0;
    }
    a.grt-logo img {
        float: left;
        margin-right: 15px;
    }
    a.grt-logo span {
        display: block;
    }
    .grt-menu-logo {
        height: 60px;
        padding-top: 6px;
    }
    #home-first-fold:before {
        background-position: 80% center;
    }
    #home-second-fold:before {
        background-position: 20% center;
    }
    #home-third-fold:before {
        background-position: 80%;
    }
    .fold .section-text {
        top: 65%;
    }
}


/* Tablet only landscape style */

@media (min-width:991px) and (max-width:1200px) {
    #home-first-fold .section-text {
        left: 0;
    }
    #home-second-fold:before {
        background-position-x: 70%;
    }
    #home-second-fold .section-text.right {
        top: 60%;
    }
    #home-third-fold:before {
        background-position-x: 65%;
    }
    #home-fourth-fold .backgrounded {
        background-position-x: -100px;
    }
    #home-fourth-fold .section-text {
        right: 0px;
    }
    #home-sixth-fold>div.backgrounded {
        height: 100%;
        background-position-x: -250px;
    }
    #home-seventh-fold .backgrounded {
        background-position-x: -170px;
    }
    #home-seventh-fold .section-content {
        width: 90%;
    }
    #carouselTestimonies {
        width: 80%;
    }
}


/* Mobile only portrait style */

@media (max-width:500px) {
    .menu-container {
        padding-left: 0;
        padding-right: 0;
    }
    .grt-mobile-button {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 10px;
        background: #FFF;
        color: #3d3d3d;
        margin: 0;
        padding: 0;
        cursor: pointer;
        border: 0;
        width: 35px;
    }
    .grt-mobile-button .line1,
    .grt-mobile-button .line2,
    .grt-mobile-button .line3 {
        width: 35px;
        height: 4px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
        display: block;
    }
    ul.grt-menu {
        display: none;
        margin: 0;
        height: 0;
    }
    ul.open-grt-menu {
        position: fixed;
        background: #FFF;
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        height: 100%;
        float: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .grt-mobile-button-open {
        position: fixed;
        z-index: 99999;
        right: 25px;
        top: 25px;
    }
    .grt-mobile-button-open .line1 {
        -webkit-transform: rotate(-45deg) translate(-8px, 5px);
        transform: rotate(-45deg) translate(-8px, 5px);
    }
    .grt-mobile-button-open .line2 {
        opacity: 0;
    }
    .grt-mobile-button-open .line3 {
        -webkit-transform: rotate(45deg) translate(-8px, -7px);
        transform: rotate(45deg) translate(-8px, -7px);
    }
    ul.grt-menu li {
        display: block;
        line-height: 3.5em;
    }
    ul.grt-menu li a {
        padding: 6px 10px;
        font-size: 30px;
    }
    ul.grt-menu li.grt-dropdown ul.grt-dropdown-list {
        width: 100%;
        position: relative;
        display: none;
    }
    ul.grt-menu li.grt-dropdown ul.grt-dropdown-list li a {
        display: block;
        font-size: 17px;
    }
    #about-first-fold .section-text.left {
        padding-right: 5px;
        top: 70px;
        left: 10px;
    }
    #about-first-fold .section-text.right {
        bottom: 7px;
        text-align: right;
        right: 10px;
    }
    #about-first-fold .right .section-sub-title-list li:before {
        display: none;
    }
    #about-first-fold .section-sub-title-list li span {
        display: table-cell;
        padding-left: 25px;
    }
    #about-first-fold .right .section-sub-title-list li:after {
        display: table-cell;
    }
    #about-second-fold .section-text.right {
        bottom: 10px;
        text-align: right;
        right: 10px;
        padding-left: 25px;
    }
    .ideas {
        width: 100%;
    }
    .ideas .idea1 {
        top: 80px !important;
        left: 48px !important;
    }
    .ideas .idea2 {
        top: 181px !important;
        left: 4px !important;
    }
    .ideas .idea3 {
        top: 263px !important;
        left: 5px !important;
    }
    .ideas .idea4 {
        top: 372px !important;
        left: 6px !important;
    }
    .ideas .idea5 {
        top: 498px !important;
        left: 7px !important;
    }
    .ideas .idea6 {
        top: 624px !important;
        left: 10px !important;
    }
    .ideas .idea7 {
        top: 725px !important;
        left: 57px !important;
    }
    .ideas .idea8 {
        left: auto !important;
        right: 7px !important;
        top: 149px !important;
    }
    .ideas .idea9 {
        left: auto !important;
        top: 303px !important;
        right: 10px;
    }
    .ideas .idea10 {
        left: auto !important;
        top: 480px !important;
        right: 20px !important;
    }
    .ideas .idea11 {
        left: auto !important;
        top: 595px !important;
        right: 14px !important;
    }
    .ideas .idea12 {
        left: auto !important;
        top: 672px !important;
        right: 10px !important;
    }
    #home-third-fold:before {
        background-position: -50% 0;
    }
    #home-second-fold:before {
        background-position-x: 25%;
    }
    .card-logo-text {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .cards {
        top: -330px;
    }
}


/* Mobile only landscape style */

@media (min-width:500px) and (max-width:850px) {
    .ideas {
        width: 100%;
    }
    .ideas .idea1 {
        top: 22px !important;
        left: 84px !important;
    }
    .ideas .idea2 {
        top: 80px !important;
        left: 70px !important;
    }
    .ideas .idea3 {
        top: 111px !important;
        left: 39px !important;
    }
    .ideas .idea4 {
        top: 173px !important;
        left: 53px !important;
    }
    .ideas .idea5 {
        top: 209px !important;
        left: 35px !important;
    }
    .ideas .idea6 {
        top: 315px !important;
        left: 30px !important;
    }
    .ideas .idea7 {
        top: 365px !important;
        left: 100px !important;
    }
    .ideas .idea8 {
        left: 320px !important;
        right: auto !important;
        top: 5px !important;
    }
    .ideas .idea9 {
        left: 345px !important;
        top: 130px !important;
        right: auto !important;
    }
    .ideas .idea10 {
        left: 330px !important;
        top: 197px !important;
        right: auto !important;
    }
    .ideas .idea11 {
        left: 303px !important;
        top: 277px !important;
        right: auto !important;
    }
    .ideas .idea12 {
        left: 286px !important;
        top: 339px !important;
        right: auto !important;
    }
    #home-fourth-fold .section-text {
        right: 0;
        left: auto;
        width: 50%;
    }
    section#home-sixth-fold .section-text.left {
        top: 30%;
    }
    .rev-logo {
        margin-top: -16px;
    }
    .card-logo-text {
        margin-top: 20px;
    }
    .cards {
        top: -160px;
    }
    #home-seventh-fold .section-text {
        width: 50%;
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
        right: 15px;
        left: auto;
    }
    #home-eighth-fold .section-text {
        top: 42%;
        bottom: auto;
        width: 50%;
        left: 16px;
        transform: translatey(-50%);
    }
    #about-first-fold .section-text.left {
        top: 60px;
        width: 45%;
        float: left;
        position: relative;
    }
    #about-first-fold .section-text.right {
        bottom: auto;
        top: 60px;
        width: 45%;
        float: left;
        position: relative;
    }
    #about-first-fold .section-sub-title {
        font-size: 60px;
    }
    #about-first-fold .section-sub-title-text {
        font-size: 14px;
    }
    #about-first-fold .section-sub-title-list li {
        font-size: 12px;
    }
    #about-second-fold .section-text.right {
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
    }
    #about-second-fold .section-sub-title {
        font-size: 60px;
    }
    #about-second-fold .section-sub-title-text {
        font-size: 14px;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 60%;
        display: inline-block;
    }
    #about-second-fold .section-sub-title-list li {
        font-size: 12px;
    }
}